{% extends "blog/layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.publish }}</p>
          {% if post.image %}
          <a href="{{ post.image.url }}">
          <img src="{{ post.image.url }}" class="card-img-top" alt="...">
          </a>
          {% endif %}
        <p class="card-text">{{post.body | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
  </div>
    <a href="{% url 'blog:post_list' %}" class="btn btn-primary">صفحه اصلی</a>
</div>
{% endblock %}
